.x-tree-branch {
  margin: 0;
  padding: 0;
}

.x-tree-node .x-tree-branch {
  padding-left: 1.25em;
}

.x-tree-node {
  line-height: 1.5em;
  list-style: none;
}

.x-tree-node .toggle-icon {
  color: #a5d4fd;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  margin-right: 0;
  width: 1.25em;
}

.x-tree-node .toggle-icon:hover {
  opacity: 0.8;
}

.x-tree-node .x-tree-highlight {
  background-color: #f2f9fc;
  color: #333;
  cursor: pointer;
}

.x-tree-node .x-tree-chosen {
  font-weight: bold;
}

.x-tree-node input[type="checkbox"] {
  vertical-align: text-bottom;
}
