<span role="button" onclick={{action toggleCheck}}>
  {{input
    type="checkbox"
    checked=model.isChecked
    disabled=model.isDisabled
    indeterminate=model.isIndeterminate
    change=(action "noop")
  }}
</span>
